.container {
    @apply justify-start items-center text-center mx-auto flex flex-col px-4;
}


.card {
    @apply rounded overflow-hidden shadow p-8 w-full bg-white;

    @include mobile {
        @apply p-6;
    }
}

.example-print {
    display: none !important;
}

@media print {
    .example-screen {
        display: none !important;
    }

    .example-print {
        display: block !important;
    }
}
