// Break points
$xs-break:400px;
$sm-break:576px;
$md-break:768px;
$lg-break:992px;
$xl-break:1200px;
$xll-break:1392px;
// Colors
$background: #2c2f38;
$primary: #4dc0b5 !default;
$success: #38c172 !default;
$warning: #e6a23c !default;
$danger:#d82b5d !default;
$info: #909399 !default;
// text color
$black: #22292F !default;
$grey-darkest: #3d4852 !default;
$grey-darker: #606f7b !default;
$white: #fff !default;
// Others
$borderColor: rgba(94, 114, 169, 0.3);
