html {
    font-family: 'Source Sans Pro', sans-serif;
    background: $background;
    -webkit-font-smoothing: antialiased;
    @apply text-grey-darkest;
    font-size: 15px;
    @include tablet {
        font-size: 13px;
    }
    @include desktop {
        font-size: 14px;
    }
    @include mobile {
        font-size: 12px;
    }
}

* {
    outline: none !important;
}

a {
    text-decoration: unset;
}