$normalize_headings: false !default;
$h1_font_size: 2em !default;
$h2_font_size: 1.5em !default;
$h3_font_size: 1.17em !default;
$h4_font_size: 1em !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;
$h1_margin: 0.67em 0 !default;
$h2_margin: 0.83em 0 !default;
$h3_margin: 1em 0 !default;
$h4_margin: 1.33em 0 !default;
$h5_margin: 1.67em 0 !default;
$h6_margin: 2.33em 0 !default;
// primary color
$primaryColor: #222a3f !default;
$secondaryColor: #5b5b5b !default;
$background: #2c2f38;
// Break points
$xs-break:400px;
$sm-break:768px;
$md-break:992px;
$lg-break:1200px;
$xl-break:1392px;
// Colors
$primary: rgb(52, 92, 213) !default;
$success: #73b15f !default;
$warning: #e6a23c !default;
$danger:#d82b5d !default;
$info: #909399 !default;
// Others
$borderColor: rgba(94, 114, 169, 0.3);