@import 'notify.scss';

body, html, *{
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}
body{
  background: #2c2f38;
}
a{
  text-decoration: unset;
}

.container{
  @apply justify-start items-center text-center mx-auto flex flex-col px-4;
}
.header{
  @apply text-grey-darkest text-xl align-middle mb-12;
}
.card{
  @apply rounded overflow-hidden shadow p-8 w-full bg-white;
}
.footer {
  @apply flex flex-row justify-center mt-6;
}