
/* tab setting */
$tab-count: 3;
$indicator-width: 5.33rem;
$indicator-height: 3px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count * 240px},
  small: #{$tab-count * 170px}
);

/* selectors relative to radio inputs */
$label-selector: '~ ul > li';
$slider-selector: '~ .slider';
$content-selector: '~ .content > section';

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{103% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

.tabs {
  min-width: #{$tab-count * 11rem};
  @include mobile {
    min-width: calc(100% - 100px);
  }
  input[name='tab-control'] {
    display: none;
  }

  .content section h2,
  ul li label {
    @apply font-semibold text-primary;
  }

  ul {
    list-style-type: none;
    @apply pl-0 flex flex-row mb-2 justify-between items-end flex-wrap;
    li {
      box-sizing: border-box;
      @apply flex-1 px-6 cursor-pointer;
      text-align: center;
      width: #{100% / $tab-count};
      &:nth-child(1) {
        @apply pl-0;
      }
      @include mobile {
        @apply px-1;
      }
      label {
        @include no-select;
        transition: all 0.3s ease-in-out;
        @apply text-gray-700;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        @apply flex flex-row items-center justify-center relative;
        br {
          display: none;
        }
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          @apply text-gray-800;
        }
      }
    }
  }

  .slider {
    position: relative;
    width: #{100% / $tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 20%;
      height: $indicator-height;
      @apply bg-primary;
      border-radius: 1px;
    }
  }
  input[name='tab-control'] {
    @include tabs {
      > label {
        cursor: default;
        @apply text-primary;
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
          @apply flex flex-col;
          span {
            @apply font-semibold;
          }
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      @apply flex flex-col;
      span {
        @apply font-semibold text-sm;
      }
    }

    .slider {
      display: none;
    }
  }
}
